* {
    box-sizing: border-box;

}



#welcome {
    text-align: center;
    background-color: rgb(133, 161, 197);
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow: rgb(43, 66, 85) 5px 5px;
    max-width: 55%;
    border-style: solid;
    color: rgb(16, 39, 39);
    margin: auto;
    background: linear-gradient(60deg, rgb(152, 203, 223) 0%, rgb(131, 168, 189) 35%, rgb(73, 137, 173) 70%);
    
    
}

p {
    font-size: 20px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}


#awesomeQuiz {

    border-style: solid;
    width: 40%;
    border-color: darkslategray;
    box-shadow:rgb(43, 66, 85) 4px 4px;
    padding: 5px;
    text-align: center;
    background-color:rgb(133, 161, 197);
    border-radius: 10px;
    color: rgb(16, 39, 39);
    margin: auto;
    margin-bottom: 15px;
    background: linear-gradient(60deg, rgb(152, 203, 223) 0%, rgb(131, 168, 189) 35%, rgb(79, 162, 211) 70%);
}


.hide{
    display: none;
}

#questionsDiv {
    border-style: solid;
    border-radius: 10px;
    background-color:rgb(133, 161, 197);
    text-align: center;
    width: 75%;
    justify-content: space-around;
    box-shadow:rgb(43, 66, 85) 5px 5px;
    color: rgb(16, 39, 39);
    font-weight: bolder;
    border-color:rgb(43, 66, 85);
    margin: auto;
    margin-bottom: 20px;
    background: linear-gradient(60deg, rgb(152, 203, 223) 0%, rgb(131, 168, 189) 35%, rgb(73, 137, 173) 70%);
    

}

h2 {
    color: rgb(16, 39, 39);
    outline: black;
    font-size: 30px;
    
}

.questionHeader {
    border-style: double;
    border-color:rgb(43, 66, 85);
    box-shadow: rgb(43, 66, 85) 2px 2px 0;
    width: 30%;
    margin: auto;
    padding: 2px;
    border-radius: 15px;
    background: linear-gradient(90deg, rgb(199, 171, 180) 0%, rgb(139, 107, 123) 45%, rgb(151, 112, 131) 90%);

     

}





#startButton {
    background-color: rgb(180, 159, 180);
    width: 100px;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(16, 39, 39);
    border-style: solid;
    border-radius: 3px;
    box-shadow: darkslategray 5px 5px;
    
}
 #startButton:hover {
     background-color: rgb(155, 111, 125);
 }
 body {
     
     background: linear-gradient(90deg, rgb(180, 161, 167) 0%, rgb(158, 118, 137) 45%, rgb(107, 76, 91) 90%);
     
 }

 button {
     background-color: rgb(180, 159, 180);
     font-size: 15px;
     box-shadow: rgb(43, 66, 85) 2px 2px;
     margin-right: 5px;
     margin-left: 5px;
     border-radius: 3px;
     color: rgb(16, 39, 39);
     font-weight: bold;
     border-color: rgb(43, 66, 85);
     
     
 }
 
 button:hover {
    background-color: rgb(155, 111, 125);
}

#timerDisplay{
    border-style: solid;
    border-radius: 8px;
    width: 120px;
    text-align: center;
    font-size: 40px;
    background-color:rgb(133, 161, 197);
    box-shadow: rgb(43, 66, 85) 3px 3px;
    border-color: rgb(43, 66, 85);
    color: rgb(16, 39, 39);
    margin: auto;
    margin-bottom: 20px;
    background: linear-gradient(60deg, rgb(152, 203, 223) 0%, rgb(131, 168, 189) 35%, rgb(73, 137, 173) 70%);


}


}

#username {
    text-align: center;
}